# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Local scratch
*.tmp
